<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="field form-group">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field form-group">
    <%= label_tag :password %><br/>
    <%= text_field_tag :password, params[:password] %>
  </div>
  <div class="btn btn-default actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>
