<%= render partial: "/shared/errors", locals: {object: @user} %>
<%= link_to "Back to Users", users_url %>


<%= form_for @user do |f| %>
  <ul>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>

    <li><%= f.label :email %></li>
    <li><%= f.text_field :email %></li>

    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %></li>

    <li><%= f.label :password_confirmation %></li>
    <li><%= f.password_field :password_confirmation %></li>

    <li><%= f.submit %></li>
  </ul>

<% end %>