<%= link_to "Back to Restaruants", restaurants_url %>

<h1><%= @user.name  %></h1>

<%= @user.email %>

<div>
<%= @user.reservations.each do |res| %>
  <%= res.date_time %>
  <%= res.restaurant.name %>
<% end %>
</div>
<%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"}  %> | <%= link_to "Edit", edit_user_url %>



