<h2>Edit a reservation</h2>
<% @reservation = Reservation.find(params[:id]) %>
<% @restaurant = Restaurant.find(params[:restaurant_id]) %>
  
<%= form_for ([@restaurant, @reservation]) do |f| %>
<%= f.datetime_select :date_time %>
    <li><%= f.label :party_size %></li>
    <li><%= f.text_area :party_size %></li>

    <li><%= f.submit %></li>
  </ul>
<% end %>