<h1>Add an awesome reservation</h1>

<%= link_to "Back to Reservations", reservations_url %>

<%= form_for @reservation do |f| %>
  <%= f.label :date_time %>
  <%= f.datetime_field :date_time %>

  <%= f.label :party_size %>
  <%= f.text_field :party_size %>

  <%= f.submit %>
<% end %>


