<%= render partial: "/shared/errors", locals: {object: @restaurant} %>
<div class="btn btn-default">
  <%= link_to "Back to Restaurants", restaurants_url %>
</div>

<%= form_for @restaurant do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </div>
  <div class="form-group">
    <%= f.label :province %>
    <%= f.text_field :province %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="form-group">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
  <div class="form-group">
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.telephone_field :phone_number %>
  </div>
  <div class="form-group">
    <% @cuisines.each do |cuisine| %>
      <%= check_box_tag "restaurant[cuisine_ids][]", cuisine.id, cuisine.id.in?(@restaurant.cuisines.collect(&:id)) %>
      <%= cuisine.name %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>


