<%= render partial: "/shared/errors", locals: {object: @restaurant} %>
<%= link_to "Back to Restaurants", restaurants_url %>


<%= form_for @restaurant do |f| %>
  <ul>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>

    <li><%= f.label :capacity %></li>
    <li><%= f.number_field :capacity %></li>

    <li><%= f.label :province %></li>
    <li><%= f.text_field :province %></li>

    <li><%= f.label :city %></li>
    <li><%= f.text_field :city %></li>

    <li><%= f.label :street %></li>
    <li><%= f.text_field :street %></li>

    <li><%= f.label :postal_code %></li>
    <li><%= f.text_field :postal_code %></li>

    <li><%= f.label :phone_number %></li>
    <li><%= f.telephone_field :phone_number %></li>

    <% @cuisines.each do |cuisine| %>
        <%= check_box_tag "restaurant[cuisine_ids][]", cuisine.id, cuisine.id.in?(@restaurant.cuisines.collect(&:id)) %>
        <%= cuisine.name %>
    <% end %>

    <li><%= f.submit %></li>
  </ul>
<% end %>


