<h3>Make a reservation</h3>
<%= form_for ([@restaurant, @reservation]) do |f| %>
<%= f.datetime_select :date_time %>
  <div class="form-group">
    <%= f.label :party_size %>
    <%= f.text_area :party_size %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>