<%= link_to "Back to Restaurants", restaurants_url %>

<h1><%= @restaurant.name %></h1>

<%= render partial: "/shared/errors", locals: {object: @reservation} %>

<%= render 'restaurant_info' %>

<% if current_user %>
  <%= render 'resform' %>
  <%= render 'viewreservations' %>
<% else %>
  <p>Login to create a reservation.</p>
<% end %>
