<%= link_to "Back to Restaurants", restaurants_url %>

<h1><%= @restaurant.name %></h1>

<%= render partial: "/shared/errors", locals: {object: @reservation} %>
Capacity: <%= @restaurant.capacity %>
<p>Address:</p>
  <p><%= @restaurant.street %></p>
  <p><%= @restaurant.city %>, <%= @restaurant.province %>, <%= @restaurant.postal_code%></p>
  Phone number: <%= @restaurant.phone_number%>

<% if current_user && current_user.id == @restaurant.owner_id %>
  <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"}  %> | <%= link_to "Edit", edit_restaurant_url %>
  <% else %>
<% end %>

<% if current_user %>
  <%= render 'resform' %>
  <%= render 'viewreservations' %>
<% else %>
  <p>Login to create a reservation.</p>
<% end %>
