<%= link_to "Back to Restaurants", restaurants_url %>

<h1><%= @restaurant.name %></h1>

  <%= @restaurant.capacity %>

  <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"}  %> | <%= link_to "Edit", edit_restaurant_url %>

<% if current_user %>
  <%= form_for ([@restaurant, @reservation]) do |f| %>
    <%= f.label :date_time %>
    <%= f.text_area :date_time %>

    <%= f.label :party_size %>
    <%= f.text_area :party_size %>

    <%= f.submit %>
  <% end %>
<% else %>
<p>Login to create a reservation.</p>
<% end %>
