<%= link_to "Back to Restaurants", restaurants_url %>

<h1><%= @restaurant.name %></h1>

<%= render partial: "/shared/errors", locals: {object: @reservation} %>
<%= @restaurant.capacity %>

<%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"}  %> | <%= link_to "Edit", edit_restaurant_url %>

<% if current_user %>
  <%= form_for ([@restaurant, @reservation]) do |f| %>
    <ul>
      <li><%= f.label :date_time %></li>
      <li><%= f.datetime_field :date_time %></li>

      <li><%= f.label :party_size %></li>
      <li><%= f.text_area :party_size %></li>

      <li><%= f.submit %></li>
    </ul>
  <% end %>
<% else %>
<p>Login to create a reservation.</p>
<% end %>
