<%= link_to "Back to Restaurants", restaurants_url %>

<h1><%= @restaurant.name %></h1>

<%= render partial: "/shared/errors", locals: {object: @reservation} %>

<%= render 'restaurants/restaurant_info' %>
<%= render 'restaurants/display_map' %>

<% if current_user %>
  <%= render 'restaurants/resform' %>
  <%= render 'restaurants/viewreservations' %>
<% else %>
  <p>Login to create a reservation.</p>
<% end %>
