<!DOCTYPE html>
<html>
<head>
  <title>Rsvp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <% flash.each do |name, msg| -%>
      <li><%= content_tag :div, msg, class: name %></li>
    <% end %>
  </ul>

  <%= yield %>

  <% if current_user %>
    <ul>
      <li>Signed in as <%= current_user.name %></li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
    </ul>
  <% else %>
  <div>
    <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
  </div>
  <% end %>
</body>
</html>
